{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 51.8985136,
    "longitude": -8.4726423,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/London",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "IE",
    "language": "en",
    "radius": 100
  }
}